<%= form_for @post, html: { multipart: true } do |f| %>
		
		<% if @post.errors.any? %>
			<div id="errors">
				<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving
				</h2>
				<ul>
					<% @post.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
					<% end %>
				</ul>
			</div>
		<% end %>
		
		<p>
			
			<%= f.text_field :title, placeholder: "title of post", class: 'text_field' %> 
		</p>
		<p id="body">
			
			<%= f.text_area :body, placeholder: "body of post", class: 'text_field' %> 
		</p>
		<p>
			
			<%= f.file_field :image %> 
		</p>
		<p>
			<%= f.submit 'Create Post', class: 'submit button'%>
		</p>

<% end %>