<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag 'application', "http://fonts.googleapis.com/css?family=Raleway:400,700" %>
	<%= stylesheet_link_tag 'bootstrap.min.css', "http://fonts.googleapis.com/css?family=Raleway:400,700" %>
	<%= stylesheet_link_tag 'carousel.css', "http://fonts.googleapis.com/css?family=Raleway:400,700" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min.js'%>
  <%= csrf_meta_tags %>
 
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
<!-- background_image -->
<div>
	<% if current_page?(root_path) %>
		<%= image_tag("background_20.jpg", class: "background home") %>
		<h3 id="wecome_message">hello. welcome, and please, stay a while.</h3>
	<% else %>
		<%= image_tag("background_10.jpg", class: "background new_post") %>
	<% end %>
</div>

<!-- navigation bar --> 

	<div class="navbar-wrapper no_margins">
		<div class="container no_margins">
			<div class="container no_margins">
		        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		          <div class="container color_nav">
		            <div class="navbar-header">
		              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		              </button>
		              <a class="navbar-brand" href="#">justine breuch</a>
		            </div>
		            <div id="navbar" class="navbar-collapse collapse">
		              <ul class="nav navbar-nav">
		                <% if current_page?(posts_path) || current_page?(root_path) %>		
		                	<li class="active"><%= link_to 'blog', root_path %></li>
		                	<li id="navbar_about"><%= link_to 'about', about_path %></li>
		                <% elsif current_page?(about_path) %>
		                	<li><%= link_to 'blog', root_path %></li>
		                	<li id="navbar_about" class="active"><%= link_to 'about', about_path %></li>
		                <% else %>
		                	<li><%= link_to 'blog', root_path %></li>
		                	<li id="navbar_about"><%= link_to 'about', about_path %></li>
		                <% end %>
		                
						
		                <li class="rounded_nav_pictures twitter"> 
		        		<%= link_to " ","http://twitter.com/justinebreuch" %>
				
						<li class="rounded_nav_pictures instagram">
							<%= link_to " ","http://instagram.com/justine_breuch" %>
						</li>
						<li class="rounded_nav_pictures github">
							<%= link_to " ","https://github.com/justinebreuch" %>
						</li>
						<li class="rounded_nav_pictures email"> 
							<%= mail_to "justine.breuch@gmail.com" do %>
								 .
							<% end %>
						</li>
						
		              </ul>
		            </div>
		          </div>
		        </nav>
			</div>
      	</div>
	</div>

<!-- main content --> 
<% if current_page?(root_path) %>
	<div class="main_content blog">
			
		<div id="header">
			<ul class="user_options">
			<% if user_signed_in? %>
				<li>
					<button class="btn .navbar-btn button" type="button">
						<%= link_to "new post", new_post_path %>	
					</button>
				</li>
				<li>
					<button class="btn .navbar-btn button logout">
						<%= link_to "log out", destroy_user_session_path, :method => :delete %>
					</button>
				</li>

			<% end %>
			
			<% if !user_signed_in? %>
				<li class="sign_in"><%=link_to "admin login", new_user_session_path %></li>
			<% end %>
		</ul>
				
		</div>

		<div>
		<% if current_page?(root_path) %> 
				<p>all posts</p>
		<% elsif current_page?(about_path) %>
				<p>about</p>
		<% else %>
				<%= link_to "back to all posts", root_path %>
		<% end %>
		</div>


	

<% elsif current_page?(new_post_path) %>
	<div class="main_content new_post">
			

			<div id="header">
				<ul class="user_options">
				<% if user_signed_in? %>
					<li>
						<button class="btn .navbar-btn button" type="button">
							<%= link_to "new post", new_post_path %>	
						</button>
					</li>
					<li>
						<button class="btn .navbar-btn button logout">
							<%= link_to "log out", destroy_user_session_path, :method => :delete %>
						</button>
					</li>

				<% end %>
				
				<% if !user_signed_in? %>
					<li class="sign_in"><%=link_to "admin login", new_user_session_path %></li>
				<% end %>
				</ul>
				<% if current_page?(root_path) %> 
					<p>all posts</p>
				<% elsif current_page?(about_path) %>
					<p>about</p>
				<% else %>
					<%= link_to image_tag('back.png', width: '32px', height: '32px', class: 'back'), root_path %>
				<% end %>
		
			</div>
			
<% end %>

	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert") %>
	<% end %>
<%= yield %>
	
	</div>





</body>
</html>
